{:paths ["src/lib"
         "src/exts"
         "src/exts_private"
         "src/exts_internal"
         "src/apps"
         "src/apps_private"
         "src/apps_internal"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.1"}
         org.clojure/clojurescript {:mvn/version "1.10.597"}
         org.clojure/core.async    {:mvn/version "0.7.559"}
         binaryage/oops            {:mvn/version "0.7.0"}
         environ                   {:mvn/version "1.1.0"}}}
