{:paths ["src/lib"
         "src/exts"
         "src/exts_private"
         "src/exts_internal"
         "src/apps"
         "src/apps_private"
         "src/apps_internal"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.3"}
         org.clojure/clojurescript {:mvn/version "1.11.4"}
         org.clojure/core.async    {:mvn/version "1.5.648"}
         binaryage/oops            {:mvn/version "0.7.2"}
         environ                   {:mvn/version "1.1.0"}}}
