{{^has-optionals}}
(defmacro {{{fn-name}}}{{{fn-docstring}}}([{{{user-param-list}}}] (gen-call :function ::{{{fn-name}}} &form {{{param-list}}})))
{{/has-optionals}}
{{#has-optionals}}
(defmacro {{{fn-name}}}{{{fn-docstring}}}([{{{user-param-list}}}] (gen-call :function ::{{{fn-name}}} &form {{{param-list}}}))
{{{additional-arities}}})
{{/has-optionals}}