.lein*
/resources/unpacked/compiled
/resources/release.crx
/resources/release.pem
/resources/release/compiled
/releases
/.idea
/target
/checkouts
/.tmp
.figwheel*.log
.chrome-profile
.test-dirac-chrome-profile
.shadow-cljs
node_modules
package-lock.json
resources/unpacked/out
resources/unpacked/manifest.json
.cpcache
