{:paths ["src/background"
         "src/popup"
         "src/content-script"

         ; this is just a temporary override of shadow-cljs behaviour
         ; https://clojurians.slack.com/archives/C6N245JGG/p1581362714447400 for further discussion
         "src/shadow-hacks"]

 :deps  {org.clojure/clojure       {:mvn/version "RELEASE"}
         org.clojure/clojurescript {:mvn/version "RELEASE"}
         binaryage/devtools        {:mvn/version "RELEASE"}
         binaryage/chromex         {:local/root "../.."}
         ; ---
         thheller/shadow-cljs      {:mvn/version "RELEASE"}}}
