{:deps     true
 ; we need dev server to serve source maps, see *** below
 :dev-http {9080 "resources/unpacked"}
 :builds   {:extension

            {:target           :chrome-extension
             :extension-dir    "resources/unpacked"
             :manifest-file    "resources/unpacked/manifest.edn"
             :compiler-options {:closure-output-charset "US-ASCII"

                                ; *** we have to use dev-server to serve source maps
                                ; full inlining of source maps is not supported by shadow-cljs
                                ; and default behaviour leads to warnings like these:
                                ; DevTools failed to load SourceMap: Could not load content for chrome-extension://gkcfdpbipbjfjbjkdlnkkbhmmbdlcbal/out/cljs-runtime/goog.debug.error.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME
                                ; see hacked version of shadow in shadow-cljs
                                :source-map-prefix      "http://localhost:9080/out/cljs-runtime/"}
             :outputs          {:background     {:output-type :chrome/background
                                                 :entries     [chromex-sample.background]}
                                :content-script {:output-type    :chrome/content-script
                                                 :chrome/options {:matches ["<all_urls>"]
                                                                  :run-at  "document_end"}
                                                 :entries        [chromex-sample.content-script]}
                                :popup          {:entries [chromex-sample.popup]}}}}}
