{:name             "Chromex Sample Shadow"
 :version          "1.0"
 :description      "This example project is using shadow-cljs"
 :manifest-version 2

 :permissions      ["activeTab"
                    ; storage permission is needed for chromex-sample.background.storage/test-storage!
                    "storage"
                    "http://*/*"
                    "https://*/*"]

 :browser-action   {:default-title "Show the popup"
                    :default-icon  "images/icon48.png"
                    :default-popup "popup.html"}

 :content-security-policy
                   ["default-src 'self';"
                    ;; FIXME: unsafe-eval should be injected for dev, user shouldn't have to write this
                    "script-src 'self' 'unsafe-eval' http://localhost:9630;"
                    "connect-src * data: blob: filesystem:;"
                    "style-src 'self' data: chrome-extension-resource: 'unsafe-inline';"
                    "img-src 'self' data: chrome-extension-resource:;"
                    ;; FIXME: localhost only? don't want to allow any origin though
                    "frame-src 'self' http://localhost:* data: chrome-extension-resource:;"
                    "font-src 'self' data: chrome-extension-resource:;"
                    "media-src * data: blob: filesystem:;"]}
